<?xml version="1.0" encoding="UTF-8"?>
<included>
    <conversionRule conversionWord="custom_highlight" converterClass="com.tibame201020.backend.config.CustomLoggerHighlighting" />
    <property resource="application.properties"/>
    <property resource="application-${spring.profiles.active}.properties"/>
    <property name="out.pattern"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %magenta([%+10thread]) %cyan([traceId: %X{traceId:-} user: %X{currentUser:-}]) %yellow(%logger{15}) - %custom_highlight(%msg%n)"/>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${out.pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="lokiAppender" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${loki.push.url}</url>
        </http>
        <format>
            <label>
                <pattern>
                    app=${spring.application.name}, host=${HOSTNAME}, env=${management.metrics.tags.env}
                </pattern>
            </label>
            <message>
                <pattern>${out.pattern}</pattern>
            </message>
        </format>
    </appender>

    <logger name="com.tibame201020.backend" level="DEBUG" />
</included>